body {
  background-color: #000000; /* Cambia este color al que desees */
}

/* Desactiva el subrayado en los enlaces */
a {
  text-decoration: none !important;
}

/* Cambia el color de los enlaces (si es necesario) */
a,
a:hover,
a:focus {
  color: inherit !important;
}

.icon-container {
  margin-right: 20px; /* Ajusta el espacio entre el icono y el texto según sea necesario */
  font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
}
.hover-effect:hover {
  background-color: #0080ff; /* Cambia el color de fondo al pasar el mouse */
  transition: background-color 0.3s ease; /* Agrega una transición suave */
}
